@page "/bar"

<h1>Bar Chart</h1>

<Tabs SelectedTab="@selectedTab" SelectedTabChanged="@OnSelectedTabChanged">
    <Items>
        <Tab Name="example">Example</Tab>
        <Tab Name="code">Code</Tab>
    </Items>
    <Content>
        <TabPanel Name="example">
            <Container>
                <br />
                <BarChart/>
            </Container>
        </TabPanel>
        <TabPanel Name="code">
            <Container>
                <br />
                <CodeSnippet Uri="Plotly.Blazor.Examples/Components/BarChart.razor" />
            </Container>
        </TabPanel>
    </Content>
</Tabs>

@code{
    string selectedTab = "example";

    private void OnSelectedTabChanged(string name)
    {
        selectedTab = name;
    }
}