<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">Plotly.Blazor.Examples</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                Scatter
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="bar">
                Bar
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="pie">
                Pie
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="candlestick">
                Candlestick
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="multipleaxes">
                Multiple Axes
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="shapes">
                Shapes
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="map">
                Map
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="surface">
                Surface
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="ribbon">
                Ribbon
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="heatmap">
                HeatMap
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="scattergl">
                ScatterGl
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="indicator">
                Indicator
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="smith">
                Smith
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

}