@inject IJSRuntime JsRuntime
@using Microsoft.JSInterop
@using System.Text.Json
@using System.Collections
@using Plotly.Blazor.Interop
@using System.Threading
@using Plotly.Blazor;
@implements IDisposable

<div style="min-height: 350px; height: 100%" @attributes="AdditionalAttributes" id="@Id"></div>

