name: Update contributors
on:
  workflow_dispatch:
  schedule:
    - cron:  '20 20 * * *'
# push:
#   branches:
#     - main

jobs:
  add-contributors:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: BobAnkh/add-contributors@master
      with:
        CONTRIBUTOR: '## Contributors'
        COLUMN_PER_ROW: '6'
        ACCESS_TOKEN: ${{secrets.GITHUB_TOKEN}}
        IMG_WIDTH: '100'
        FONT_SIZE: '14'
        PATH: '/README.md'
        COMMIT_MESSAGE: 'docs(README): Update contributors'
        AVATAR_SHAPE: 'round'
        PULL_REQUEST: 'main'
        BRANCH: 'contributors'
